#viewMainPain {
	<!-- main view style -->
	-fx-border-color: grey;
    -fx-border-width: 2;
}

#logo {
	-fx-background-image: url("headerline.png");
    -fx-background-size: cover;
}

#viewToolbarMenu {    
	-fx-background-color: dimgrey;
	-fx-background-image: url("toolbarline.png");
    -fx-background-size: cover;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    -fx-alignment: baseline-right;
}

#codeInputBuy {
	-fx-border-color: green;
    -fx-border-width: 3;
	-fx-background-color: PaleGreen;
}

#codeInputSell {
	-fx-border-color: BlueViolet;
	-fx-border-width: 3;
	-fx-background-color: lavender;
}

#exitBtn {
	-fx-background-image: url("control/cross2.png");
    -fx-background-size: cover;
}

#configcheckbox {
	-fx-padding: 20.0;
	-fx-min-width: 300.0;
	-fx-max-width: 300.0;
}